<!DOCTYPE html>
<html>
  <head>
    <title>ZoomBookingAfrica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# iztoast %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" ></script>
    <%# multivatar %>
    <script src="https://cdn.jsdelivr.net/npm/@multiavatar/multiavatar/multiavatar.min.js"></script>
  </head>
  <body class="bg-gray-50">
    <%# Nav bar %>
    <%= render partial: "layouts/navbar" %>
    <%# Flash messages %>
    <%= render partial: "layouts/flash" %>
    <%# Content %>
    <main class="container mx-auto  px-5 ">
      <%= yield %>
    </main>
    <script>
      if (!crossOriginIsolated) SharedArrayBuffer = ArrayBuffer;
    </script>
    <!-- For Component and Client View -->
    <script src="https://source.zoom.us/2.14.0/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/2.14.0/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/2.14.0/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/2.14.0/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/2.14.0/lib/vendor/lodash.min.js"></script>
    <!-- For Client View -->
    <script src="https://source.zoom.us/zoom-meeting-2.14.0.min.js"></script>
    <%# <script type="text/javascript" src="client-view.js"></script> %>
  </body>
</html>
